<a href="/">Alla användare</a>
<h1>Användare: <%= user %></h1>
<% if session[:message] %>
    <p><%= session.delete(:message) %></p>
<% end %>
<% if connected %>
    <h2>Användaren har en koppling till Årsredovisning Online</h2>
    <form action="/skapa-rapport/<%= user %>" method="post" enctype='multipart/form-data' target="_blank">
      <div class="form-group">
        <label for="sie_file">Välj SIE-fil</label>
        <input type="file" id="sie_file" name="sie_file">
      </div>
      <button type="submit" class="btn btn-primary">Skapa rapport</button>
    </form>
    <a href="/login/<%= user %>">Logga in i Årsredovisning Online</a>
<% else %>
    <h2>Användaren har ingen koppling till Årsredovisning Online</h2>
    <form action="/skapa-konto/<%= user %>" method="post">
      <button type="submit" class="btn btn-primary">Skapa konto hos Årsredovisning Online</button>
    </form>
    <a href="<%= ENV['API_HOST'] %>/access?client_id=<%= ENV['CLIENT_ID'] %>&user_email=<%= user %>&redirect_uri=<%= request.base_url %>/autentiserad<">Skapa
      koppling</a>
<% end %>
